<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Real time stats</title>

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap@5.1.0/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.css"/>

    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
            crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue-icons.min.js"></script>

</head>
<body>

<div id="app">
    <b-container>
        <b-row style="text-align: center;">
            <p style="font-size: 2em;">Real time stats</p>
        </b-row>
        <b-row>
            <b-tabs content-class="mt-3">
                <b-tab title="Top Scorers" active>
                    <b-table
                            :sort-by.sync="top5.sortBy"
                            :sort-desc.sync="top5.sortDesc"
                            :fields="top5.fields"
                            :items="top5.values"
                            striped
                            hover
                            label-sort-asc=''
                            label-sort-desc=''
                            label-sort-clear=''
                    >
                        <template #cell(player)="row">
                            <p>
                                <b-icon-arrow-down-square
                                        variant="danger"
                                        v-if="calculateChange(row.item) === 'down'"></b-icon-arrow-down-square>
                                <b-icon-arrow-up-square
                                        variant="success"
                                        v-if="calculateChange(row.item) === 'up'"></b-icon-arrow-up-square>
                                {{ row.item.player }}
                            </p>
                        </template>
                    </b-table>
                </b-tab>
            </b-tabs>
        </b-row>
    </b-container>
</div>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            top5: {
                fields: [{ key: 'player', sortable: false }, { key: 'goal', sortable: false }],
                values: []
            },
            // player to goal number to compute the change
            lastTop5: [],
            // holds data receive count
            receiveCount: 0
        },
        methods: {
            // returns up, if a player went up in the rankings, 'down' if he/she went down, '' otherwise
            calculateChange(row) {
                // did not receive 2 times, the difference calculation is meaningless
                if (this.receiveCount < 2) return '';

                let oldRank = -1;
                let newRank = -1;

                this.lastTop5.forEach((x, i) => {
                    if(x.playerId === row.playerId){
                        oldRank = i;
                    }
                });

                this.top5.values.forEach((x, i) => {
                    if(x.playerId === row.playerId){
                        newRank = i;
                    }
                });


                // console.log(oldRank, newRank);

                if (oldRank === -1 && newRank === -1) {
                    return '';
                } else if (oldRank === -1 && newRank !== -1) {
                    return 'up';
                } else if (oldRank !== -1 && newRank === -1) {
                    return 'down';
                } else if (oldRank !== -1 && newRank !== -1) {
                    if (oldRank > newRank) {
                        return 'up';
                    } else if (newRank > oldRank) {
                        return 'down';
                    } else {
                        return '';
                    }
                }
            },
            updateTop5(data) {
                if (!Array.isArray(data)) {
                    console.log('Top5 data should be an array');
                    return;
                }

                const top5Data = new Array(data.length);

                // gather data in top5Data as array
                for (let i = 0; i < data.length; i++) {
                    let d = data[i];
                    top5Data[i] = {
                        player: d.firstName + ' ' + d.lastName,
                        goal: d.goals,
                        playerId: d.playerId
                    }
                }

                top5Data.sort((a, b) => {
                    if(a.goal === b.goal){
                        if (a.player > b.player) {
                            return 1;
                        } else if (a.player < b.player){
                            return -1;
                        } else {
                            return 0;
                        }
                    }
                    return b.goal - a.goal;
                });

                this.lastTop5 = this.top5.values;

                this.receiveCount++;
                this.top5.values = top5Data;
            }
        }
    });

    const websocketURL = 'ws://localhost:3000';

    const socket = new WebSocket(websocketURL, 'stats-protocol');

    // Connection opened
    socket.addEventListener('open', function (event) {
        console.log('Connection opened.');
    });

    // Listen for messages
    socket.addEventListener('message', function (event) {
        // console.log(new Date().toISOString(), 'Message from server ', event.data);
        try {
            const data = JSON.parse(event.data);
            if (data.statName === 'top5') {
                app.updateTop5(data.value);
            }
        } catch (e) {
            console.log('Error parsing data from server' + e);
        }
    });

</script>
</body>
</html>
